header {
  background-color: #007acc;
  padding: 30px;
  text-align: center;
  font-size: 40px;
}

nav {
  background-color: #66c2ff;
  padding 30px;
  text-align: center;
  font-size: 15px;
}

aside {
  background-color: #66c2ff;
  padding 50px;
  text-align: center;
  font-size: 15px;
}

footer {
  background-color: #007acc;
  padding: 10px;
  text-align: center;
  font-size: 15px;
}
